/* inicio form */
.label-rows {
    text-align: left;
    font-size: 1.5em;
    padding: 8px 0;
}

.input-rows {
    padding: 12px;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
}

.form-title {
    color: #fff;
    font-size: 2.3em;
    text-decoration: underline #bd1826;
    margin: 82px;
}

/* fim form */