/* inicio form */

main {
    padding-top: 24px;
    font-size: 1.3em;
}

.formulario {
    width: 1280px;
    height: auto;
    margin: 24px auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

h2 {
    color: #fff;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 2px solid #bd1826;
}

form {
    color: #fff;
    text-align: center;
}

input,
textarea {
    margin-top: 12px;
    font-size: 1.5em;
    border-radius: 1em;
    border: 2px solid #bd1826;
    outline: unset;
}

textarea {
    width: 420px;
    height: 120px;
}

button {
    padding: 24px;
    background-color: #bd1826;
    border-radius: 1em;
    font-size: 1em;
    cursor: pointer;
}

/* fim form */