/* inicio form */
.label-rows {
    font-size: 2em;
}

.input-rows {
    padding: 12px;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
}

.button-enviar {
    background-color: #bd1826;
    color: #fff;
    font-size: 1.5em;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
}

.button-enviar:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

.form-title {
    color: #fff;
    font-size: 2.5em;
    border-bottom: 4px solid #bd1826;
    margin: 82px;
}
/* fim form */