footer {
    padding-top: 42px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    background-color: black;
    padding: 24px 8px;
}

.logo-rodape img {
    width: 150px;

}

.rodape small {
    color: whitesmoke;
}