* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.8em;

    background-image: linear-gradient(black 0%, black 5%, grey 25%, whitesmoke 100%);
    background-repeat: no-repeat;

    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
}


/* Animação */

body {
    animation: fromTop .7s .2s backwards;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translate(-30px);
    }

    Top {
        opacity: 1;
        transform: translate(0);
    }

}

/* Fim animação */