header {
    background-color: #bd1826;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    margin: 36px;
    padding: 16px;
    border-radius: 42px;
}

.logo div {
    height: 62px;
    width: 62px;
}

.logo img {
    width: 162px;
    height: 62px;
}

.links-pagina {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links-pagina a {
    color: whitesmoke;
    border-bottom: 4px solid black;
}

.redes {
    display: flex;
    gap: 5px;
}

.redes img {
    width: 62px;
}

/* animações */

.redes :hover {
    width: 66px;
    opacity: 0.9;
}