

/*Inicio bloco "sobre"*/
.sobre {
    background-image: url(../imgs/Bugatti.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 62px;
    overflow: hidden;
}

.sobre ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h2 {
    color: whitesmoke;
    padding-top: 64px;
    font-size: 2em;
}

.sobre h1 {
    color: #bd1826;
    font-size: 3em;
    padding-top: 124px;
}

.sobre p {
    color: whitesmoke;
    padding-top: 124px;
    padding-bottom: 64px;
    font-size: 2em;
}

/*Fim bloco "sobre"*/

/*inicio bloco "serviços"*/
.serviços {
    display: flex;
    flex-direction: column;
    gap: 42px;

    background-color: #000;
    border-radius: 62px;

    overflow: hidden;
}

.textos {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.serviços h2 {
    color: #bd1826;
    font-size: 3em;
    padding-top: 24px;
}

.serviços p {
    color: whitesmoke;
    font-size: 2em;
}

.imgs-serviços {
    display: flex;
    justify-content: space-around;
}

.imgs-serviços li {
    color: whitesmoke;
    text-align: center;
}

.imgs-serviços img {
    width: 200px;
    height: 120px;
    border-radius: 16px;
    object-fit: cover;
    border: 2px solid #fff;
}

.serviços a {
    color: #fff;
    background-color: #bd1826;
    border-radius: 50px;
    font-size: 1.5em;
    padding: 18px;
}

.serviços div {
    display: flex;
    justify-content: center;
}

.serviços div :hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

/*Fim bloco "serviços"*/