main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    padding-top: 24px;
}

section {
    max-width: 1280px;
    width: 100%;
    height: 580px;
}

/*Inicio bloco "sobre"*/
.sobre {
    background-image: url(../imgs/Bugatti.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 62px;
    overflow: hidden;
}

.sobre ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h2 {
    color: whitesmoke;
    padding-top: 64px;
    font-size: 2em;
}

.sobre h1 {
    color: #bd1826;
    font-size: 3em;
    padding-top: 124px;
}

.sobre p {
    color: whitesmoke;
    padding-top: 124px;
    padding-bottom: 64px;
    font-size: 2em;
}

/*Fim bloco "sobre"*/

/*inicio bloco "serviços"*/
.serviços {
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: 62px;
    overflow: hidden;
}

.serviços .textos {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    
}

.serviços h2 {
    color: #bd1826;
    font-size: 3em;
    padding-top: 24px;
}

.serviços p {
    color: whitesmoke;
    font-size: 2em;
}

.imgs-serviços {
    padding-top: 3em;
    display: flex;
    justify-content: space-around;
}

.imgs-serviços li {
    color: whitesmoke;
    text-align: center;
}

.imgs-serviços img {
    width: 160px;
    height: 95px;
}

.imgs-serviços li :hover {
    width: 250px;
    height: auto;
}

.serviços a {
    color: black;
    background-color: #bd1826;
    border-radius: 8px;
    font-size: 1.5em;
    padding: 18px;
}

.serviços div {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.serviços div :hover {
    padding: 24px;
}

/*Fim bloco "serviços"*/