/*Inicio bloco "sobre"*/
.banner {
    background-image: url(../imgs/Bugatti.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner .texts h2 {
    color: #fff;
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 2em;
    font-weight: bold;
}

.texts h1 {
    color: #bd1826;
    font-size: 3em;
    font-weight: bold;
}

/*Fim bloco "sobre"*/

/*inicio bloco "serviços"*/
.services-home {
    display: flex;
    flex-direction: column;
    gap: 82px;
    background-color: #000;
    overflow: hidden;
}

.texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.texts h2 {
    color: #bd1826;
    font-size: 3em;
    font-weight: bold;
    padding-top: 24px;
}

.texts p {
    color: whitesmoke;
    font-size: 2em;
    font-weight: 600;
}

.imgs-services-home {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 1em;
}

.imgs-services-home img {
    width: 200px;
    height: 120px;
    border-radius: 16px;
    object-fit: cover;
    border: 2px solid #fff;
}

.imgs-services-home img:hover {
    opacity: 0.5;
}

.button {
    display: flex;
    justify-content: center;

}

/*Fim bloco "serviços"*/