/* HOME */
.main-home {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.section-home {
    width: 100%;
    padding: 42px;
}

@media screen and (max-width: 768px) {
    .button {
        width: 100%;
        text-align: center;
    }
}
/* Fim da HOME */

/* SERVICES */
.main-services {
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.services-itens {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 34px;
}

@media screen and (max-width: 768px) {
    .services {
        flex-direction: column;
    }

    .services-itens {
        flex-direction: column;
        text-align: center;
    }

    .services img {
        width: 75%;
    }
}

@media screen and (min-width: 769px) {

    .services-itens:nth-of-type(2n) {
        flex-direction: row-reverse;
        text-align: right;
    }
}
/* Fim da SERVICES */

/* inicio form */

.main-form {
    font-size: 1.3em;
}

.formulario {
    overflow: hidden;
    display: grid;
    text-align: center;
    background-color: #000;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px;
    color: #fff;
    padding: 32px;
}

.form-rows {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-colunms {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (max-width: 670px) {
    .formulario {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .form {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .form-title {
        padding: 24px;
        margin: 24px auto;
        font-size: 2em;
    }

    .label-rows {
        font-size: 1.5em;
    }

    .form-rows {
        font-size: 1em;
        width: 100%;
    }
}
/* fim form */