/* Inicio services */
.services-img {
    max-width: 500px;
    width: 40%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 24px;
}

.suspensao {
    height: 80%;
}

.services-title {
    margin: 1em auto 0;
    text-align: center;
    color: #fff;
    text-decoration: underline #bd1826;
    font-size: 2.8em;
    font-weight: bolder;
}

.services-spans {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.span1 {
    font-size: 1.8em;
    color: #fff;
    font-weight: bold;
}

.span2 {
    color: #bd1826;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: underline;
}

h2 {
    color: #fff;
}

.btn-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin-bottom: 2em;
}

/* Fim services */