.services-img {
    width: 480px;
    object-fit: cover;
    border: 1px solid #bd1826;
    border-radius: 24px;
}

.services-spans {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.span1 {
    font-size: 2em;
    color: #fff;
}

.span2 {
    color: #bd1826;
    font-size: 1.5em;
}