
main {
    padding-top: 24px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 1em;
}

.services ul {
    width: 1280px;
    height: auto;
    text-align: center;
    overflow: hidden;
    padding: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #000;
    
}

li img {
    width: 420px;
}

.span1 {
    font-size: 2em;
    color: #fff;
}

.span2 {
    color: #bd1826;
    font-size: 1.5em;
}