.services-img {
    max-width: 500px;
    width: 40%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 24px;
}

.services-spans {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.span1 {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
}

.span2 {
    color: #bd1826;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: underline;
}