* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


 header {
    background-color: #bd1826;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    margin: 36px;
    padding: 16px;
}

.logo div {
    height: 62px;
    width: 62px;
    background-color: black;
}

.links-pagina a {
    color: whitesmoke;
    border-bottom: 3px solid black;
}

.redes {
    display: flex;
    gap: 5px;
}

.redes img {
    width: 62px;
}

body {
    background-image: linear-gradient(#000 0%, #000 5%, #fff 25%, #fff 100%);
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 100px;
}

.services ul {
    width: 720px;
    height: auto;
    overflow: hidden;
    padding: 24px;
    margin: -62px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #bd1826;
    
}

.services-motor {
    align-self: flex-start;
    text-align: center;
}

.services-cambio {
    align-self: flex-end;
    text-align: center;
}

.services-susp {
    align-self: flex-start;
    text-align: center;
}

.services-freio {
    align-self: flex-end;
    text-align: center;
}


li img {
    width: 420px;
}

.span1 {
    font-size: 2em;
    color: #fff;
}

.span2 {
    color: #000;
    font-size: 1.5em;
}

/*inicio rodapé*/

footer {
    padding-top: 82px;
}

.rodape {
    background-color: black;
    padding: 32px;
    text-align: center;
}

.rodape p {
    color: whitesmoke;
}

/*Fim rodapé*/